# Palmer Penguins

My analysis of the Palmer Penguins dataset. For this analysis I will be using data imported from the Seaborn repository on Github, this data has already been cleaned so I will not be claning the data here.

In [2]:
#Load the penguins dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")

## Overview of the Dataset and the Variables

Who, where, why was the data collected?

Name and explain each of the variables in the set. (Use some images here to explain things like the bill measurements)

As each variable is explained also highlight whch Python Data type would be appropriate for each.
What are the variables?
Species: Adelie, Chinstrap, Gentoo (Str)
Island: (Where the penguin was spotted) Biscoe, Dream, Torgersen (Str)
Bill length: in mm (float)
Bill Depth: in mm (float)
Flipper length: in mm (float)
Body Mass: in grams (float?)
Sex: Male, Female (Str)
Year: (when they were spotted) (int)

## Overview of the Dataset

The Palmer Penguins dataset contains information about three penguin species observed on three islands in the Palmer Archipelago in Antarctica.

The data was collected between 2007 and 2009 by Dr. Kristen Gormen for the Palmer Station Long Term Ecological Research Program.

The data was collected as part of research to study Antarctic penguins’ foraging behavior and its relationship with environmental variability.

## Overview of the Variables
### Variable 1: Species
This variable identifies the species of the penguin.
There are only three possible inputs within the species variable:
    * Adelie
    * Chinstrap 
    * Gentoo
For this reason, and because the data is not numeric, the best data type for this variable is a string.

### Variable 2: Island
This variable tells us which island the penguin was spotted on.
There are only three posible outputs for this variable also:
    * Biscoe
    * Dream
    * Torgersen
Similar to Species, the best variable type for this dataset is string.

### Variables 3 & 4: Bill Length and Bill Depth
The culmen is the upper ridge of a penguin's bill. In the simplified penguins data, culmen length and depth are renamed as variables bill_length_mm and bill_depth_mm for clarity. These variables measure, in millimeters, the dimensions of the penguin's bill. 
The most appropriate data type for these variables is floats, as they deal with precise numerical measurements, using decimals.

For this penguin data, the culmen (bill) length and depth are measured as shown below:
INSERT PIC OF BILL

### Variables 5: Flipper Length
This variable measures the length of the penguin's flipper in millimeters.
The most appropriate data type for this variable is integer, as all of the results within this section are positve, whole numbers. It would also be possible to use floats for this variable, howver it is preferable to use integers whenever possible due to the limited precision and loss of accuracy that an occur when using floats.

### Variables 6: Body mass 
This variable measures the mass of each penguin in grams.
Similar to Flipper length the most appropriate variable for this data type is also integer, due to all results being positive, whole numbers.

### Variables 7: Sex
This variable measures the sex of the penguins, whether they are male or female.
The best data type for this variable, in this analysis, is a String. It would also be possible to use Booleans here, as there are only 2 options for the variable.

### Variables 8: Year
This variable describes the year that each penguin was spotted.
For this analysis, because year is merely used as an identifier and we will not be performing any calculations with this variable, strings are the most appropriate variable.

### Create a bar chart of an appropriate variable
Species, island, sex, year

### Create a Histogram of an appropriate Variable
Bill length, bill depth, lipper length, body mass

## Select two variables from the data set and provide an analysis of how correlated they are.

Possible analyses:
-	What is the population of each island?
-	What species inhabit what island?
-	How many of each species of penguin are there?
-	Gender distribution
-	How does species affect bill length & depth, flipper length and body mass. (Within that how does gender affect it?)
-	How many of each species were spotted each year?
-	r/ship between bill length and depth
-	r/ship between body weight and and flipper length

Who, what and where was the dataset collected?

Mention each of the variables: 
Species: Adelie, Chinstrap, Gentoo
Island: (Where the penguin was spotted) Biscoe, Dream, Torgersen
Bill length: in mm
Bill Depth: in mm
Flipper length: in mm
Body Mass: in grams
Sex: Male, Female
Year: (when they were spotted)

In [1]:
# Data Frames
import pandas as pd

In [3]:
#Lets have a look
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [4]:
# Look at the first row 
df.iloc[0]

species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       MALE
Name: 0, dtype: object

In [5]:
# Sex of Penguins (picks out the colmn)
df["sex"]

0        MALE
1      FEMALE
2      FEMALE
3         NaN
4      FEMALE
        ...
339       NaN
340    FEMALE
341      MALE
342    FEMALE
343      MALE
Name: sex, Length: 344, dtype: object

In [6]:
# Count the number of penguins of each sex
df["sex"].value_counts()

sex
MALE      168
FEMALE    165
Name: count, dtype: int64

In [7]:
#describe the data set
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

### Sources

1. Medium article - https://yabdulmalik.medium.com/python-data-analysis-project-palmer-penguins-dataset-411a1e0b8c7d
2. UC Irvine - https://archive.ics.uci.edu/dataset/690/palmer+penguins-3

***
### END